<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>chronically</servlet-name>
        <servlet-class>web.chronically</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cordis</servlet-name>
        <servlet-class>web.cordis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cure</servlet-name>
        <servlet-class>web.cure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editpatient</servlet-name>
        <servlet-class>web.editpatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eyedis</servlet-name>
        <servlet-class>web.eyedis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patient</servlet-name>
        <servlet-class>web.patient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>report</servlet-name>
        <servlet-class>web.report</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chronically</servlet-name>
        <url-pattern>/chronically</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cordis</servlet-name>
        <url-pattern>/cordis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cure</servlet-name>
        <url-pattern>/cure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editpatient</servlet-name>
        <url-pattern>/editpatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eyedis</servlet-name>
        <url-pattern>/eyedis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patient</servlet-name>
        <url-pattern>/patient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>report</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
