<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
    <body>
    <div ng-app="myApp" ng-controller="formCtrl">
        <input type="button" ng-click="test()" value="click" name="test" />
   
   
        <input type="button" ng-click="datt()" value="click" name="test" />
   
     
        <input type="button" ng-click="tes()" value="click" name="test" />
        <table>
            <tr ng-repeat="x in curedata">
                <td>{{x.formate}}</td>
                <td>{{x.catregory}}</td>
                <td>{{x.cure_id}}</td>
                <td>{{x.describtion}}</td>
            </tr>
        </table>
    </div>
    </body>
    
    <script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope,$http) {
    
   
       
        $http.get("cure")
    .then(function(response) {
        $scope.curedata = response.data.cure;
     });
 
  
  $scope.tes = function(){
       
        $http.get("report")
    .then(function(response) {
        $scope.myWelcome = response.data;
        alert(JSON.stringify($scope.myWelcome)) ;
    });
  };
  
  
  
});
</script>
</html>
